@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    background: #2c3e50; 
    padding: 15px 23px;
    color: #fff; 
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}